<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">

            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate"></h1>
                    <div class="px-2">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top rounded-circle"
                                [src]="user.avatar_url"
                                alt="Card image cap">
                            <div class="card-body font-weight-bold">
                                
                                <p class="card-text">Name:  {{user.login}}</p>
                                <p class="card-text">Followers:  {{user.followers}}</p>
                                <p class="card-text">Following:  {{user.following}}</p>
                                <p class="card-text">Public repos: {{user.public_repos}}</p>
                                <button type="button" class="btn btn-info" (click) = 'toggleRepository()'>SHOW REPOS</button>
                            </div>

                        </div>

                    </div>
                </div>
               

             
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate"></h1>
                    <div class="px-2">
                        <app-search (searchUser) = "searchUserName($event)"></app-search>
                    </div>
                </div>
              
            </div>
            <div class="row">
                
                <div class="col-md-4" *ngFor = "let myRepo of repo">`
                    <div class="card text-white bg-dark mb-3" style="max-width: 40rem; height: 20rem;" *ngIf = 'showRepos'>
                        <div class="card-header">{{myRepo.language}}</div>
                        <div class="card-body">
                          <h5 class="card-title" appHighlight>{{myRepo.name}}</h5>
                          <p class="card-text">{{myRepo.description}}</p>
                        </div>
                      </div>
                
                </div>
             
             
              
            </div>
        </div>
    </div>
</section>